<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: header">
    <title>main</title>
<body class="nav-md">
<div th:include="include::css"></div>
<div th:include="include::js"></div>
<div class="container body">
    <div class="main_container">
        <!--        左-->
        <div th:replace="/main/left.html"></div>
        <!--        顶-->
        <div th:replace="/main/topmenu.html"></div>
        <!--        中-->
        <div th:if="${page}">
            <div th:replace="${page}"></div>
            </div>
        <!--        底部-->
                <div th:replace="/main/footer.html"></div>

    </div>
</div>

</body>
</html>